/Academia.class
/Aprendiz.class
/Cavaleiro.class
/Cla.class
/GovernoVigente.class
/Jedi.class
/Lorde.class
/Mestre.class
/Missao.class
/Padawan.class
/Planeta.class
/Sabre.class
/Ser.class
/Sith.class
/UsuarioDaForca.class
/Youngling.class
/Habilidades.class
/NomesDeHabilidades.class
/Batalha.class
